*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Ordner die Ausgelassen werden sollen
RemoteSystemsTempFiles/
.externalToolBuilders/
.metadata/
.recommenders/**
.settings/
bin/
tmp/
**.svn/
**build/
**classes/
**/target/

# Dateitypen die Ausgelassen werden sollen
**.project
.classpath
*.class

**.orig
**.lnk
**.log

# Dateien im Wurzelverzeichnis auslassen
/*.rar
/*.zip
/*.tar
/*.tar.gz
/*.ini